# Custom Chatbot Project

This is a custom chatbot project where a small text data is used to demonstrate the Retrieval Augmented Generation (RAG) application of the Generative AI models.

We use a character descriptions data for the demonstration. The data contains names, media (e.g. play, movie, etc.), settings (e.g. USA, Australia, etc.), and a short descriptions about the characters.

This type of data are ideal for RAGs as the descriptions are specific and the types of questions a user may ask about the characters are not answerable for Generative AI models, as the relevant information will not be available. Furthermore, since the information is mostly in the form of free text, it will be hard to devise a general method using traditional databases to answer the many types of questions a user might ask about the characters.

The idea is that when asked a question, the relevant data are sorted and inserted into the prompt, with which the generative model is asked to "complete" an answer.

In [19]:
# The following are the OpenAI API Key and model names to be used for the project.

import getpass

OPENAI_API_KEY = getpass.getpass("OpenAI API Key: ")
EMBEDDING_MODEL_NAME = 'text-embedding-3-small'
COMPLETION_MODEL_NAME = 'gpt-3.5-turbo-instruct'

OpenAI API Key: ········

## Data Wrangling

In the cells below, we load the chosen dataset into a `pandas` dataframe with a column named `"text"`. This column contains all of the text data.

In [20]:
import pandas as pd
import openai

openai.api_key = OPENAI_API_KEY

In [33]:
df = (
    pd.read_csv("data/character_descriptions.csv")
    .reset_index()
    .assign(
        text = lambda x:
            "Name: " + x["Name"] + ", " +
            "Medium: " + x["Medium"] + ", " +
            "Setting: " + x["Setting"] + ", " +
            "Description: " + x["Description"]
    )
    [["index", "text"]]
)

# Send text data to the model
response = openai.Embedding.create(
    input=df["text"].tolist(),
    engine=EMBEDDING_MODEL_NAME
)

# Extract embeddings
df["embedding"] = [data["embedding"] for data in response["data"]]

In [34]:
df

,index,text,embedding
0,0,"Name: Emily, Medium: Play, Setting: England, D...","[0.042800188064575195, -0.0026875631883740425,..."
1,1,"Name: Jack, Medium: Play, Setting: England, De...","[0.014133699238300323, -0.011379247531294823, ..."
2,2,"Name: Alice, Medium: Play, Setting: England, D...","[0.03738236427307129, -0.013138728216290474, 0..."
3,3,"Name: Tom, Medium: Play, Setting: England, Des...","[0.01938999444246292, 0.021279536187648773, -0..."
4,4,"Name: Sarah, Medium: Play, Setting: England, D...","[0.04892197623848915, 0.0193181075155735, 0.00..."
5,5,"Name: George, Medium: Play, Setting: England, ...","[0.016478193923830986, 0.025896253064274788, 0..."
6,6,"Name: Rachel, Medium: Play, Setting: England, ...","[-0.0009736692882142961, -0.03268888220191002,..."
7,7,"Name: John, Medium: Play, Setting: England, De...","[0.02701561525464058, 0.018301326781511307, -0..."
8,8,"Name: Maria, Medium: Movie, Setting: Texas, De...","[-0.004943996202200651, 0.022249484434723854, ..."
9,9,"Name: Caleb, Medium: Movie, Setting: Texas, De...","[0.050504956394433975, -0.002042090753093362, ..."
10,10,"Name: Tyler, Medium: Movie, Setting: Texas, De...","[-0.020048197358846664, 0.01370089128613472, -..."
11,11,"Name: Sonya, Medium: Movie, Setting: Texas, De...","[0.03945814445614815, -0.017605997622013092, -..."
12,12,"Name: Manuel, Medium: Movie, Setting: Texas, D...","[-0.008051753044128418, 0.05847981944680214, -..."
13,13,"Name: Will, Medium: Movie, Setting: Texas, Des...","[-0.012927464209496975, 0.017509596422314644, ..."
14,14,"Name: Mia, Medium: Limited Series, Setting: Au...","[-0.00379249663092196, 0.029619956389069557, 0..."
15,15,"Name: Lucas, Medium: Limited Series, Setting: ...","[-0.0018952925456687808, 0.03333007171750069, ..."
16,16,"Name: Tahlia, Medium: Limited Series, Setting:...","[0.013564195483922958, -0.012835649773478508, ..."
17,17,"Name: Max, Medium: Limited Series, Setting: Au...","[0.011793072335422039, 0.043657492846250534, 0..."
18,18,"Name: Ava, Medium: Limited Series, Setting: Au...","[0.034782543778419495, 0.02240593358874321, 0...."
19,19,"Name: Donna, Medium: Musical, Setting: USA, De...","[0.04669555649161339, 0.0166268739849329, -0.0..."
20,20,"Name: Johnny, Medium: Musical, Setting: USA, D...","[0.021693473681807518, 0.0002321166539331898, ..."
21,21,"Name: Sable, Medium: Musical, Setting: USA, De...","[0.06659716367721558, -0.002518830355256796, 0..."
22,22,"Name: Dolly, Medium: Musical, Setting: USA, De...","[0.056061435490846634, -0.017461758106946945, ..."
23,23,"Name: Vixen, Medium: Musical, Setting: USA, De...","[0.027261966839432716, 0.007457857020199299, 0..."
24,24,"Name: Karma, Medium: Musical, Setting: USA, De...","[0.01810886152088642, 0.016306767240166664, -0..."
25,25,"Name: Crystal, Medium: Musical, Setting: USA, ...","[0.016021596267819405, 0.0350739061832428, 0.0..."
26,26,"Name: Olivia, Medium: Reality Show, Setting: U...","[0.027398141101002693, -0.006330439355224371, ..."
27,27,"Name: Marcus, Medium: Reality Show, Setting: U...","[-0.030729517340660095, 0.054090965539216995, ..."
28,28,"Name: Maya, Medium: Reality Show, Setting: USA...","[0.018711918964982033, 0.04366553574800491, -0..."
29,29,"Name: James, Medium: Reality Show, Setting: US...","[-0.018559636548161507, 0.03832780569791794, -..."
30,30,"Name: Sophia, Medium: Reality Show, Setting: U...","[0.038711756467819214, 0.007112247869372368, -..."
31,31,"Name: Noah, Medium: Reality Show, Setting: USA...","[0.02711157687008381, 0.05506826192140579, -0...."
32,32,"Name: Chloe, Medium: Reality Show, Setting: US...","[0.05222012847661972, -0.0036838457453995943, ..."
33,33,"Name: Jake, Medium: Reality Show, Setting: USA...","[-0.016720879822969437, 0.003514049341902137, ..."
34,34,"Name: Prince Lorenzo, Medium: Opera, Setting: ...","[-0.029366901144385338, -0.04046355560421944, ..."
35,35,"Name: Signora Rosa, Medium: Opera, Setting: It...","[-0.0013071071589365602, -0.023624973371624947..."
36,36,"Name: Baron Gustavo, Medium: Opera, Setting: I...","[-0.010037805885076523, 0.00563642755150795, -..."
37,37,"Name: Francesca, Medium: Opera, Setting: Italy...","[-0.01540578156709671, -0.009977529756724834, ..."
38,38,"Name: Don Carlo, Medium: Opera, Setting: Italy...","[0.010528767481446266, -0.012070168741047382, ..."
39,39,"Name: Duke Orsino, Medium: Play, Setting: Anci...","[-0.005704761948436499, -0.07690198719501495, ..."
40,40,"Name: Lady Olivia, Medium: Play, Setting: Anci...","[0.01910245791077614, -0.05561568960547447, -0..."
41,41,"Name: Sir Toby Belch, Medium: Play, Setting: A...","[0.016226649284362793, -0.06529467552900314, -..."
42,42,"Name: Malvolio, Medium: Play, Setting: Ancient...","[0.019281946122646332, -0.01200401596724987, -..."
43,43,"Name: Viola, Medium: Play, Setting: Ancient Gr...","[0.016743194311857224, -0.02364342100918293, 0..."
44,44,"Name: Sir Andrew Aguecheek, Medium: Play, Sett...","[0.013428250327706337, -0.0642220675945282, -0..."
45,45,"Name: Bianca, Medium: Play, Setting: Ancient G...","[0.008090678602457047, -0.02656795084476471, 0..."
46,46,"Name: Sebastian, Medium: Play, Setting: Ancien...","[-0.013398328796029091, -0.0350639671087265, 0..."
47,47,"Name: Feste, Medium: Play, Setting: Ancient Gr...","[0.016573399305343628, -0.00752272130921483, -..."
48,48,"Name: Antonio, Medium: Play, Setting: Ancient ...","[-0.015276098623871803, -0.002039143582805991,..."
49,49,"Name: Abigail, Medium: Sitcom, Setting: USA, D...","[0.038185589015483856, 0.027823150157928467, 0..."
50,50,"Name: Thomas, Medium: Sitcom, Setting: USA, De...","[-0.002335111377760768, 0.030104637145996094, ..."
51,51,"Name: Reverend Brown, Medium: Sitcom, Setting:...","[0.002568721305578947, -0.0034102750942111015,..."
52,52,"Name: Captain James, Medium: Sitcom, Setting: ...","[0.02017730101943016, 0.009066618978977203, -0..."
53,53,"Name: Mrs. Mercer, Medium: Sitcom, Setting: US...","[0.04333154857158661, 0.03568943962454796, -0...."
54,54,"Name: Mr. Mercer, Medium: Sitcom, Setting: USA...","[0.0035858703777194023, 0.05110836401581764, -..."

## Custom Query Completion

In the cells below, we compose a custom query using the chosen dataset and retrieve results from an OpenAI `Completion` model.

In [80]:
from openai.embeddings_utils import distances_from_embeddings
import tiktoken


def get_question_embeddings(user_question):
    # Generate the embedding response
    response = openai.Embedding.create(
        input=user_question,
        engine=EMBEDDING_MODEL_NAME
    )
    return response["data"][0]["embedding"]


def sorted_data_using_question_embeddings(question_embeddings, df):
    # Create a list containing the distances from question_embeddings
    distances = distances_from_embeddings(
        question_embeddings,
        df["embedding"],
        distance_metric="cosine"
    )
    
    context_data = (
        df.copy()
        .assign(distance = distances)
        .sort_values(by="distance", ascending=True)
    )
    
    return context_data


def construct_prompt(user_question, context_data, token_limit=800):
    
    tokenizer = tiktoken.get_encoding("cl100k_base")

    prompt_template = """
    Answer the question based on the context of character descriptions below.
    If the question can't be answered based on the context, say "I don't know".

    Context: 

    {}

    ---

    Question: {}
    Answer:"""

    token_count = len(tokenizer.encode(prompt_template)) + len(tokenizer.encode(user_question))

    # Create a list to store text for context
    context_list = []

    # Loop over rows of the sorted dataframe
    for text in context_data["text"].values:

        # Append text to context_list if there is enough room
        token_count += len(tokenizer.encode(text))
        if token_count <= token_limit:
            context_list.append(text)
        else:
            # Break once we're over the token limit
            break

    # Use string formatting to complete the prompt
    prompt = prompt_template.format(
        "\n\n###\n\n".join(context_list),
        USER_QUESTION
    )
    
    return prompt

In [81]:
def answer_question_without_context(user_question, max_tokens=150):
    
    prompt = f"""
    Answer the question about some fictional characters.
    If the question can't be answered based on the context, say "I don't know".
    
    ---

    Question: {user_question}
    Answer:"""
    
    response = openai.Completion.create(
        model=COMPLETION_MODEL_NAME,
        prompt=prompt,
        max_tokens=max_tokens,
    )
    answer = response["choices"][0]["text"].strip()
    return answer


def answer_question_using_context(user_question, data=df, max_tokens=150):
    
    question_embedding = get_question_embeddings(user_question)
    context_data = sorted_data_using_question_embeddings(question_embeddings, data)
    prompt = construct_prompt(user_question, context_data)
    
    response = openai.Completion.create(
        model=COMPLETION_MODEL_NAME,
        prompt=prompt,
        max_tokens=max_tokens,
    )
    answer = response["choices"][0]["text"].strip()
    return answer

## Custom Performance Demonstration

In the cells below, we demonstrate the performance of the custom query using 2 questions.

For each question, we show one answer generated without context and one answer generated with context.

### Question 1

In [82]:
USER_QUESTION = "Tell me about Manuel."

answer_question_without_context(USER_QUESTION)

"I don't know."

In [83]:
answer_question_using_context(USER_QUESTION)

"A middle-aged Hispanic man in his 50s, Manuel is a proud and hard-working farmer who's struggling to keep his family's farm afloat. He's fiercely loyal to his family and his community, and will do whatever it takes to protect them."

### Question 2

In [84]:
USER_QUESTION = "Which characters are set in Australia?"

answer_question_without_context(USER_QUESTION)

'The Crocodile Hunter and The Kangaroo Court Boys are set in Australia.'

In [85]:
answer_question_using_context(USER_QUESTION)

'Max'